# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# shortcut to poetry virtual envs.
.virtualenvs*

# LJG - Interactive Scratchpad/Jupyter Notebooks
**/scratchpad*.py

# phantomjs
/phantomjs*

# Distribution / packaging
dist/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# vscode
.vscode/



